* {
    padding: 0;
    margin: 0;
  }
  
  canvas {
    /* background: #eee; */
    display: block;
    margin: 0 auto;
    position: absolute;
    /* width: 50%; */
    display: inline;
    margin: auto;
    top:0;
    /* bottom: 0; */
    left: 0;
    right: 0;
  }
  #myCanvas{
    z-index:1;
  }
  #canvasUI{
    z-index:2;
  }
  #timerDiv{
    position: absolute;
    display: inline;
    z-index:10;
    font-family:"Lucida Console";
    top:1em;
    left:50%;
    color:azure;
  }
 #logo{
  position: absolute;
  display: inline;
  z-index:11;
  right:0;
  left:0;
  top:1.25em;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-variation-settings:
    "MORF" 13,
    "SHLN" 38.9;
  text-align: center;
  font-size: 50px;
  font-style: bold;
  /* color:rgb(141, 111, 248); */
  display:block;
 }