* {
    padding: 0;
    margin: 0;
  }
  canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
  }
  .overlap{
    position:absolute;
    background:lightblue;
    width:480px;
    height:100px;
    z-index: 100;
    top:220px;
    left:25%;
    visibility: none;
    /* toggle hidden */
  }